:root{
    --vermelho:red;
    --preto:black;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: var(--preto);
    font-family:'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 8px;
    color:red;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;

}